body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #777;
}

.bg-image {
    position: relative;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
}

.img1 {
    background-image: url('https://getwallpapers.com/wallpaper/full/3/c/9/1334560-gorgerous-meme-background-pictures-1920x1440-for-samsung.jpg'); 
}

.img2 {
    background-image: url('https://media.tenor.com/oxU-cDRdGlwAAAAe/punch.png');
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: #443d5c8e;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.black-block {
    color: #fef9f9;
    background-color: #0a0a0b;
    text-align: center;
    padding: 50px 80px;
}