body {
    height: 100vh;
    margin: 0;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #efefef; 
    border: 1px solid #767676;
}